[Unit]
Description=raspividstream
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/bin/bash -c '/home/pi/runstream.sh ####-####-####-####'
User=pi
Restart=on-failure

[Install]
WantedBy=default.target
