[Unit]
Description=raspividstream
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/bin/bash -c '/home/pi/software/raspberrybees/runstream.sh cgj5-c84d-cuz6-2a5r'
User=pi
Restart=on-failure

[Install]
WantedBy=default.target
